* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  flex: 1 1 auto;
}

.flex-display {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column
}

.auth-component .user {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.login-form-container {
  width: 300px;
}

.btn {
  transition: all 0.1s ease-in-out !important;
}

.btn:hover {
  opacity: 0.9;
}

.indicator-container {
  position: relative;
  height: 40px;
  padding: 20px 0px;
}

.indicator-container > .progress {
  position: absolute;
}

.input-red:focus + label {
  color: #E57373 !important;
}

.input-red:focus {
  border-bottom: 1px solid #E57373 !important;
  box-shadow: 0 1px 0 0 #E57373 !important;
}

.domain.card span {
  text-overflow: ellipsis;
}

.react-tooltip {
  z-index: 1;
}

.domain.card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.domain.card:hover {
  opacity: 0.7;
}

.state-control {
  height: 36px;
}

.state-control .progress {
  margin: 0px;
}
